@using MUNity.Database.Models.Conference;
@inject MunityContext dbContext

@if (!tryCreate && !created)
{
    <EditForm Model=newTopic OnValidSubmit="Submit">
        <div class="form-group mb-2">
            <label>Name</label>
            <InputText @bind-Value=newTopic.TopicName class="form-control" />
            <small>Eine anzeigbare Version des Namens. Dieser wird als Anzeige für Überschriften verwendet</small>
        </div>
    

        <div class="form-group mb-2">
            <label>FullName</label>
            <InputText @bind-Value=newTopic.TopicFullName class="form-control" />
            <small>Der vollständige Name des Themas. Wird verwendet für Detailansichten über das Thema, wenn z.B. auch der Beschreibungstext angezeigt werden soll.</small>
        </div>
    

        <div class="form-group mb-2">
            <label>Description</label>
            <textarea @bind=newTopic.TopicDescription class="form-control"></textarea>
            <small>Kann auch der Gremientext zu dem jeweiligen Thema sein.</small>
        </div>
    

        <div class="form-group mb-2">
            <label>Code</label>
        <InputText @bind-Value=newTopic.TopicCode class="form-control" />
        <small>Ein Code für das Thema wie ein Aktenzeichen um die Themen voneinander zu unterscheiden.</small>
        </div>

        <input type="submit" class="btn btn-success" value="Thema erstellen" />
    
    </EditForm>
}
else if (tryCreate && !created)
{
    <div class="alert alert-danger">
        <h3>Thema konnte nicht erstellt werden</h3>
        <h5>Fehlermeldung</h5>
        <p>@errorMessage</p>
    </div>
}
else if (tryCreate && created)
    {
    <div class="alert alert-success">
        <h3>Thema wurde erstellt</h3>
        <p>Das Thema wurde erfolgreich erstellt.</p>
    </div>
    }


@code {
    [Parameter][EditorRequired] public string CommitteeId { get; set; }

    private CommitteeTopic newTopic = new();

    private bool created = false;
    private bool tryCreate = false;
    private string errorMessage = "";

    private void Submit()
    {
        tryCreate = true;
        var committee = dbContext.Committees.FirstOrDefault(n => n.CommitteeId == CommitteeId);
        if (committee == null)
        {
            errorMessage = $"Das Komitee konnte nicht gefunden werden. Id: '{CommitteeId}'";
            return;
        }

        try
        {
            newTopic.Committee = committee;
            dbContext.CommitteeTopics.Add(newTopic);
            dbContext.SaveChanges();
            newTopic = new();
            created = true;
        }
        catch (Exception ex)
        {

            errorMessage = ex.Message;
        }

        
    }
}
